<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vrroo</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Admin</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="video.approved">Approved</a></li>
                        <li><a ui-sref="video.pending">Pending</a></li>
                        <li><a ui-sref="video.skipped">Skipped</a></li>
                        <li><a ui-sref="video.search">Search</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Playlists <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="playlist.list">List</a></li>
                        <li><a ui-sref="playlist.create">Create</a></li>
                    </ul>
                </li>
                <li><a href="/auth/logout">Log out</a></li>
            </ul>

        </div>
    </div>
</div>
