<!doctype html>
<html ng-app="io.kidsvideos.admin.home" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kidsvideos.io</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css home/styles/core.css -->
    <link rel="stylesheet" href="home/styles/core.css">
    <!-- endbuild -->
</head>

<body class="body">

<div ng-controller="HeaderController" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="kidsvideos.io" src="_shared/images/kidsvideos.io_logo-white-beta.svg"
                     onerror="this.src='images/kidsvideos.io_logo-white-beta.png'"/>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="hasToken()">
                <a href="main/index.html">Admin</a>
            </li>
            <li ng-if="!hasToken()">
                <a ng-click="signIn()">Sign in</a>
            </li>
            <li ng-if="hasToken()">
                <a ng-click="signOut()">Sign out</a>
            </li>
        </ul>

    </div>
</div>




</body>

<!-- build:js home/scripts/vendor.js -->
<script src="../vendor_components/easyXDM.debug.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<!-- endbuild -->


<!-- build:js home/scripts/app.js -->
<script src="_shared/scripts/generatedConfiguration.js"></script>
<script src="_shared/scripts/com.ivarprudnikov.ng.auth.js"></script>
<script src="home/scripts/app.js"></script>
<script src="home/scripts/controllers/HeaderController.js"></script>
<!-- endbuild -->


</html>
